dashboard_node-red/dashboard_colorSorter.json
[
    {
        "id": "e325e1b87397c09c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17235f26942e182d",
        "type": "mqtt in",
        "z": "e325e1b87397c09c",
        "name": "",
        "topic": "ColorSorter/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dc3177f51e28ef98",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "f10ea0c508b09140"
            ]
        ]
    },
    {
        "id": "537de547248d3499",
        "type": "debug",
        "z": "e325e1b87397c09c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "f10ea0c508b09140",
        "type": "switch",
        "z": "e325e1b87397c09c",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ColorSorter/ncolorsensor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ColorSorter/nTotalRevs",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ColorSorter/nCycles",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ColorSorter/estep",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ColorSorter/esubstepsensor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ColorSorter/esubsteppistons",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "537de547248d3499",
                "d3440fd89105b6a7"
            ],
            [
                "a30c5dfb7b43130c"
            ],
            [
                "04ebed806cebcc21"
            ],
            [
                "c70371a224b343d9"
            ],
            [
                "f330534b806d2d60"
            ],
            [
                "4683d53b0606e066"
            ]
        ]
    },
    {
        "id": "6acd814e2a75d81e",
        "type": "ui_chart",
        "z": "e325e1b87397c09c",
        "name": "",
        "group": "80a57f7c78e4df5d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "2.5",
        "ymax": "8",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d3440fd89105b6a7",
        "type": "delay",
        "z": "e325e1b87397c09c",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "20",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 160,
        "wires": [
            [
                "6acd814e2a75d81e"
            ]
        ]
    },
    {
        "id": "a30c5dfb7b43130c",
        "type": "ui_text",
        "z": "e325e1b87397c09c",
        "group": "80a57f7c78e4df5d",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Numero di giri totale del motore:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "04ebed806cebcc21",
        "type": "ui_text",
        "z": "e325e1b87397c09c",
        "group": "80a57f7c78e4df5d",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Cicli effettuati: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "c70371a224b343d9",
        "type": "ui_text",
        "z": "e325e1b87397c09c",
        "group": "80a57f7c78e4df5d",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Stato corrente: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "f330534b806d2d60",
        "type": "ui_text",
        "z": "e325e1b87397c09c",
        "group": "80a57f7c78e4df5d",
        "order": 5,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Stato subordinato del sensore corrente",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "4683d53b0606e066",
        "type": "ui_text",
        "z": "e325e1b87397c09c",
        "group": "80a57f7c78e4df5d",
        "order": 6,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Stato subordinato dei pistoni corrente:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "dc3177f51e28ef98",
        "type": "mqtt-broker",
        "name": "ColorSorter",
        "broker": "item2122a.cloud.shiftr.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "80a57f7c78e4df5d",
        "type": "ui_group",
        "name": "Default",
        "tab": "d75c21e86bc14b67",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d75c21e86bc14b67",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]